Oppgave 2.1

In [1]:
print("Fahrenheit, Celsius")
for i in [n for n in range(0, 110, 10)]:
    print(i, round(5./9*(i-32)))

Fahrenheit, Celsius
0 -18
10 -12
20 -7
30 -1
40 4
50 10
60 16
70 21
80 27
90 32
100 38

Oppgave 2.2

In [2]:
print("Fahrenheit, Celsius, Celsius Approx")
for i in [n for n in range(0, 110, 10)]:
    F = i
    C = round(5./9*(i-32))
    C_ap = round(0.5*(i-30))
    print(F, C, C_ap)

Fahrenheit, Celsius, Celsius Approx
0 -18 -15
10 -12 -10
20 -7 -5
30 -1 0
40 4 5
50 10 10
60 16 15
70 21 20
80 27 25
90 32 30
100 38 35

Oppgave 2.3

In [3]:
primes = [2, 3, 5, 7, 11, 13]
for i in primes:
    print(i)

print("\n")    
p = 17
primes.append(p)

for i in primes:
    print(i)

2
3
5
7
11
13


2
3
5
7
11
13
17

2.4

In [4]:
n = 12
i = 0
while i <= n:
    if i % 2 == 1:
        print(i)
    i += 1

1
3
5
7
9
11

2.5

In [5]:
s = 0
n = 20
for i in range(n+1):
    s += i

c = n/2*(n+1)

if s == c:
    print(s)

210

2.6

In [6]:
#constants
Me = 9.1094*10**-31
e = 1.6022*10**-19
e0 = 8.8542*10**-12
h = 6.6261*10**-34

def energy(n):
    return -(Me*e**4)/(8*e0**2*h**2)*1/n**2

def energy_change(ni, nf):
    change = -(Me*e**4)/(8*e0**2*h**2)*(1/ni**2 - 1/nf**2)
    return change

print("First 20 energy levels of electron in hydrogen")
for n in range(1,21):
    print('{:} : {:e}'.format(n, energy(n)))
    
print("\n")

print("Changes in energy when electron goes from level i (columns) to f (rows): ")
for i in range(1, 6):
    for j in range(1, 6):
        print('{:e}'.format(energy_change(i, j)), end = ' ')
    print("\n")

First 20 energy levels of electron in hydrogen
1 : -2.179978e-18
2 : -5.449944e-19
3 : -2.422198e-19
4 : -1.362486e-19
5 : -8.719911e-20
6 : -6.055494e-20
7 : -4.448934e-20
8 : -3.406215e-20
9 : -2.691331e-20
10 : -2.179978e-20
11 : -1.801635e-20
12 : -1.513873e-20
13 : -1.289928e-20
14 : -1.112234e-20
15 : -9.688790e-21
16 : -8.515538e-21
17 : -7.543176e-21
18 : -6.728326e-21
19 : -6.038720e-21
20 : -5.449944e-21


Changes in energy when electron goes from level i (columns) to f (rows):
-0.000000e+00 -1.634983e-18 -1.937758e-18 -2.043729e-18 -2.092779e-18

1.634983e-18 -0.000000e+00 -3.027747e-19 -4.087458e-19 -4.577953e-19

1.937758e-18 3.027747e-19 -0.000000e+00 -1.059711e-19 -1.550206e-19

2.043729e-18 4.087458e-19 1.059711e-19 -0.000000e+00 -4.904950e-20

2.092779e-18 4.577953e-19 1.550206e-19 4.904950e-20 -0.000000e+00

2.7

In [7]:
q = []
n = 10
a = 0
b = 10
h = (b-a)/n

for i in range(n+1):
    q.append(a + h*i)

print([a+h*i for i in range(n+1)])

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

2.8

In [8]:
v_0 = 10
g = 9.81

n = 20

def y(t):
    return v_0 * t - 0.5*g*t**2

for i in [(2*v_0/g)/n*a for a in range(n+1)]:
    print('t: {:f}, y : {:f}'.format(i, y(i)))

t: 0.000000, y : 0.000000
t: 0.101937, y : 0.968400
t: 0.203874, y : 1.834862
t: 0.305810, y : 2.599388
t: 0.407747, y : 3.261978
t: 0.509684, y : 3.822630
t: 0.611621, y : 4.281346
t: 0.713558, y : 4.638124
t: 0.815494, y : 4.892966
t: 0.917431, y : 5.045872
t: 1.019368, y : 5.096840
t: 1.121305, y : 5.045872
t: 1.223242, y : 4.892966
t: 1.325178, y : 4.638124
t: 1.427115, y : 4.281346
t: 1.529052, y : 3.822630
t: 1.630989, y : 3.261978
t: 1.732926, y : 2.599388
t: 1.834862, y : 1.834862
t: 1.936799, y : 0.968400
t: 2.038736, y : 0.000000

2.9

In [9]:
v_0 = 20
g = 9.81
n = 10

def y(t):
    return v_0 * t - 0.5*g*t**2

t = [(2*v_0/g)/n*i for i in range(n+1)]
y = [y(i) for i in t]

for t, y in zip(t, y):
    print('t: {:f}, y : {:f}'.format(t, y))

t: 0.000000, y : 0.000000
t: 0.407747, y : 7.339450
t: 0.815494, y : 13.047910
t: 1.223242, y : 17.125382
t: 1.630989, y : 19.571865
t: 2.038736, y : 20.387360
t: 2.446483, y : 19.571865
t: 2.854230, y : 17.125382
t: 3.261978, y : 13.047910
t: 3.669725, y : 7.339450
t: 4.077472, y : 0.000000

2.11

In [10]:
s = 0; k = 1; M = 100
while k <= M:
    s += 1/k
    k += 1

print(s)

5.187377517639621

2.12

In [11]:
s = 0; k = 1; M = 100

for i in range(k, M+1):
    s += 1/i
    
print(s)

5.187377517639621

2.13

In [12]:
initial_amount = 100
p = 5

amount = initial_amount
years = 0
while amount <= 1.5*initial_amount:
    amount += p/100*amount
    years += 1

print(years, amount)

9 155.13282159785152

2.14

In [13]:
import math

math.asin(0)

0.0

2.15

In [14]:
q = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h']]

for i in q:
    for j in range(len(i)):
        print(i[j])

a
b
c
d
e
f
g
h

2.16

In [15]:
F = [f for f in range(0, 110, 10)]
C = [round(5/9*(f - 32)) for f in F]
C_ap = [round(0.5*(f - 30)) for f in F]

conversions = [F, C, C_ap]

for i in range(len(F)):
    print(F[i], C[i], C_ap[i])

0 -18 -15
10 -12 -10
20 -7 -5
30 -1 0
40 4 5
50 10 10
60 16 15
70 21 20
80 27 25
90 32 30
100 38 35

2.17

In [16]:
v_0 = 20
g = 9.81
n = 10

def y(t):
    return v_0 * t - 0.5*g*t**2

t = [(2*v_0/g)/n*i for i in range(n+1)]
y = [y(i) for i in t]

ty1 = [t, y]
ty2 = [[ty1[0][i], ty1[1][i]] for i in range(len(t))]

for i in ty2:
    print('t: {:.2f}, y: {:.2f}'.format(i[0], i[1]))

print('\n')
for i in range(len(t)):
    print('t: {:.2f}, y : {:.2f}'.format(ty1[0][i], ty1[1][i]))

t: 0.00, y: 0.00
t: 0.41, y: 7.34
t: 0.82, y: 13.05
t: 1.22, y: 17.13
t: 1.63, y: 19.57
t: 2.04, y: 20.39
t: 2.45, y: 19.57
t: 2.85, y: 17.13
t: 3.26, y: 13.05
t: 3.67, y: 7.34
t: 4.08, y: 0.00


t: 0.00, y : 0.00
t: 0.41, y : 7.34
t: 0.82, y : 13.05
t: 1.22, y : 17.13
t: 1.63, y : 19.57
t: 2.04, y : 20.39
t: 2.45, y : 19.57
t: 2.85, y : 17.13
t: 3.26, y : 13.05
t: 3.67, y : 7.34
t: 4.08, y : 0.00

2.18

In [17]:
C = 41
True == 1

True

2.19

In [18]:
from math import sqrt

for n in range(1, 52):
    r = 2.0
    for i in range(n):
        r = sqrt(r)
    for i in range(n):
        r = r**2

print('{:} times sqrt and **2: {:.16f}'.format(n, r))

51 times sqrt and **2: 1.6487212645509468

2.22

In [19]:
import time

t0 = time.time()
while time.time() - t0 < 10:
    print("I love while loops")
    time.sleep(2)

print("Oh, it's over")

I love while loops
I love while loops
I love while loops
I love while loops
I love while loops
Oh, it's over

2.24

In [20]:
x = 1,
x = 2
x = 3.

print(x)

3.0